%p= new_button t("quotes.new.page_title", :value => @person.name), new_person_quote_path(@person)
= render :partial => "delete_confirm_modal", :locals => { :delete_confirm_modal => @person }
%p= delete_to_modal t("people.destroy.page_title"), @person
